include layout
main
    .container
        .textColumn
            h1 Welcome to DepWatch
            p This site is meant to pull data from the National Vulnerabilities Database and allow you to monitor it
        .linksColumn
            h2 What's Next?
            p First we will pull data from their site, then we shall provide a means for you to interface with this data using REST calls
            a(href="/showUpdates") Show Updates